body {
    margin: 0;
    background-image: url(img/pexels-fauxels-3183197.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    scroll-behavior: smooth;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    font-family: 'Open Sans', sans-serif;
}

main {
    max-width: 1024px;
    margin: 3em auto;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    min-height: calc((100vh - 300px) - 6em);
}

.marketing {
    color: darkorange;
}

.management {
    color: royalblue;
}

.sale {
    color: darkcyan;
}

.product {
    color: fuchsia;
}

.low {
    background: green;
}

.mid {
    background: yellow;
}

.high {
    background: red;
}

.content-titles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0 5px;
    text-align: center;
    font-weight: bold;
    background-color: white;
    margin-bottom: 1em;
    color: black;
    font-size: x-large;
    border-radius: 12px;
}

.backlog-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0 5px;
    text-align: center;
    background: rgba(255, 255, 255, 0.95);
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.55);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.55);
    border-radius: 12px;
    position: relative;
    background-color: white;
    margin-top: 10px;
    padding-left: 15px;
    overflow: hidden;
}

.backlog-container span {
    font-weight: bold;
}

.backlog-container img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 100%;
    margin-top: 5px;
}

.color-stripe {
    width: 15px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.identification {
    margin-left: 10px;
}

.title {
    font-weight: bold;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
}

.due-date {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.urgency {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-to-board {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 8px;
}

.backlog-text {
    grid-area: 2 / 1 / 3 / 6;
    height: 0;
    overflow: hidden;
}

.name-Img {
    height: 0;
    text-align: center;
    overflow: hidden;
}

.backlog-text.heightAuto {
    height: 100%;
}

.name-Img.heightAuto {
    height: auto;
}

.trashContainer {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background: #D8D8D8;
}

.trashContainer img {
    object-position: center;
    object-fit: cover;
    height: 75%;
    width: 75%;
}

@media screen and (max-width: 500px) {
    .backlog-container {
        display: flex;
        flex-direction: column;
    }
    .content-titles {
        display: none;
    }
}