body {
    margin: 0;
    background-image: url(img/pexels-fauxels-3183197.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    scroll-behavior: smooth;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    font-family: 'Open Sans', sans-serif;
}

main {
    margin: 3em 10em;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    min-height: calc((100vh - 300px) - 6em);
}

:root {
    --c-marketing: darkorange;
    --c-management: royalblue;
    --c-sale: darkcyan;
    --c-product: fuchsia;
    --c-hight: red;
    --c-mid: yellow;
    --c-low: green;
}

.headline-container {
    width: fit-content;
    background: white;
    border-radius: 12px;
    padding: 0.1em 1em;
    margin-bottom: 1em;
}

.content-titles {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    background-color: white;
    margin-bottom: 1em;
    color: black;
    font-size: x-large;
    padding: 0.5em 0.1em;
    border-radius: 12px;
}

.backlog-container {
    background: rgba(255, 255, 255, 0.95);
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.55);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.55);
    border-radius: 12px;
    padding: 1em;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    background-color: white;
    margin-top: 10px;
}

.backlog-container img {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 1em;
    border: 3px solid white;
}

.color-stripe {
    width: 15px;
    height: 100%;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.identification {
    display: flex;
    align-items: center;
    min-width: 33.33%;
    max-width: 33.33%;
}

#name {
    font-weight: bold;
}

.category {
    font-weight: bold;
    color: red;
    min-width: 33.33%;
    max-width: 33.33%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.details {
    min-width: 33.33%;
    max-width: 33.33%;
    display: flex;
    justify-content: flex-end;
}

.category-title,
.details-title,
.assigned-title {
    min-width: 33.33%;
    text-align: center;
}