.footer {
    /* height: 150px; */
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: space-between;
}

.footer-child {
    width: 30%;
    color: white;
}