@media screen and (max-width: 880px) {
    .assigned-to {
        flex-direction: column;
    }
    .assigned-person {
        width: 60px;
        height: 80px;
    }
    .assigned-person img {
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 600px) {
    .task-content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h2 {
        text-align: center;
    }
    .task-content-box {
        width: 80%;
    }
    .assigned-to {
        justify-content: center;
        width: 100%;
    }
    .cancel-create-box {
        justify-content: center;
    }
}

@media screen and (max-width: 300px) {
    .assigned-to {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        height: auto;
    }
}