    .d-none {
        display: none;
    }
    
    .d-block {
        display: block;
    }
    
    .d-flex {
        display: flex;
    }
    
    .d-grid {
        display: grid;
    }
    
    .j-center-a-center {
        justify-content: center;
        align-items: center;
    }
    
    .j-space-betwen {
        justify-content: space-between;
    }
    
    .j-space-around {
        justify-content: space-around;
    }
    
    .j-center {
        justify-content: center;
    }
    
    .j-flex-start {
        justify-content: flex-start;
    }
    
    .j-flex-end {
        justify-content: flex-end;
    }
    
    .a-center {
        align-items: center;
    }
    
    .f-colum {
        flex-direction: column;
    }
    
    .f-colum-reverse {
        flex-direction: column-reverse;
    }
    
    .f-row {
        flex-direction: row;
    }
    
    .f-row-reverse {
        flex-direction: row-reverse;
    }
    
    .flex-1-20 {
        flex: 1 1 20%;
    }
    
    .flex-1-60 {
        flex: 1 1 60%;
    }
    
    .p-relativ {
        position: relative;
    }
    
    .p-absolute {
        position: absolute;
    }
    
    .p-sticky {
        position: sticky;
    }
    
    .p-fixed {
        position: fixed;
    }