body {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    background-image: url('img/pexels-fauxels-3183197.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.task-container {
    width: 1024px;
}

.headline {
    margin-left: 6.66%;
    letter-spacing: 1.5px;
    font-weight: bolder;
    color: #1210a0;
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
    border-radius: 20px;
}

.headline h1 {
    font-weight: bold;
    margin-bottom: 8px;
}

.headline p {
    font-weight: bold;
    margin-top: 8px;
}

.task-content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 24px;
    min-height: 70vh;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 20px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.55);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.55);
}

.task-content-box {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.input-field {
    width: 100%;
    height: 70px;
    font-size: 20px;
    padding: 0 10px;
    border-radius: 20px;
    box-sizing: border-box;
    border: 2px solid #0097e6;
}

.input-field:hover {
    transform: scale(1.05);
}

.input-field-big {
    width: 100%;
    text-align: start;
    height: 200px;
    font-size: 20px;
    resize: none;
    padding: 10px;
    border-radius: 20px;
    box-sizing: border-box;
    border: 2px solid #0097e6;
}

.input-field-big:hover {
    transform: scale(1.05);
}

.drop-down-field {
    width: 100%;
    height: 70px;
    font-size: 20px;
    padding: 0 10px;
    border-radius: 20px;
    border: 2px solid #0097e6;
    appearance: none;
    background: white url(/img/select-arrow.png) no-repeat 90% center;
}

.drop-down-field:hover {
    transform: scale(1.05);
}

.drop-down-field:focus {
    transform: scale(1.05);
}

.assigned-to {
    display: flex;
    width: 80px;
    height: 100px;
}

.assigned-person {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 8px;
}

.assigned-to p {
    font-size: 16px;
    margin: 0px;
    font-weight: 700;
    align-items: center;
}

.assigned-to img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 100%;
}

.cancel-create-box {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 24px;
}


.cancel-task {
    cursor: pointer;
    background-color: transparent;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid transparent;
    border-radius: 10px;
    height: 50px;
    padding: 0 20px;
    margin-right: 36px;
    transition: 125ms;
}

.cancel-task a {
    text-decoration: none;
    color: blue;
}

.cancel-task:hover {
    background-color: blue;
    border: 2px solid blue;
    transition: 125ms;
}

.cancel-task:hover a {
    color: white;
}

.create-task {
    cursor: pointer;
    background-color: blue;
    font-weight: bold;
    color: white;
    font-size: 16px;
    border: 2px solid blue;
    border-radius: 10px;
    height: 50px;
    transition: 125ms;
}

.create-task:hover {
    background-color: transparent;
    color: blue;
    transition: 125ms;
}

#confirmMessage {
    position: absolute;
    top: 20%;
    bottom: 20%;
    right: 20%;
    left: 20%;
    background-color: rgba(0, 0, 0, 0.55);
    color: white;
    font-size: 36px;
    display: none;
}

#userMessage {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}