.cookies-container {
    background: rgba(0, 0, 0, 0.9);
    color: white;
    position: absolute;
    top: 15%;
    bottom: 15%;
    left: 20%;
    right: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.cookies-head p{
    position: relative;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.cookies-info{
    width: 80%;
}

.cookies-btn {
    margin-top: 32px;
    display: flex;
    width: 70%;
    justify-content: space-evenly;
}

.cookie-create {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.6);
    font-weight: bold;
    color: white;
    font-size: 16px;
    border: 2px solid;
    border-radius: 12px;
    height: 50px;
    transition: 500ms;
}

.cookie-create:hover {
    border-color: black;
    background: rgba(0, 0, 0, 0.8);
    transition: 700ms;
}