    @media screen and (max-width: 1100px) {
        .bord_container {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            min-height: none !important;
            height: auto !important;
        }
        .selection {
            display: block;
        }
        .bord_under_container {
            max-height: 80vh;
            overflow-y: auto;
        }
    }
    
    @media screen and (max-width: 600px) {
        .bord_container {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
        }
        .selection {
            border-radius: 0;
            display: none;
        }
        #sliderlinks {
            display: block;
        }
    }