body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    background-image: url('img/pexels-fauxels-3183197.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

::-webkit-scrollbar {
    height: 5px;
    width: 12px;
}

 ::-webkit-scrollbar-track {
    background-color: #F8F5F2;
    border-radius: 12px;
}

 ::-webkit-scrollbar-thumb {
    background-color: #dddddd;
    border-radius: 12px;
}

 ::-webkit-scrollbar-thumb:active {
    background-color: rgb(128, 128, 128);
    border-radius: 12px;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-default {
    cursor: default;
}

.transi-125 {
    transition: 125ms;
}

.transi-75 {
    transition: 75ms;
}

.selection {
    z-index: 9;
    position: sticky;
    top: 0;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    background: white;
    max-width: 590px;
    width: 100%;
    min-height: 30px;
    border-radius: 12px;
    overflow-x: auto;
}

.slider {
    width: fit-content;
    padding: 10px 40px 10px 40px;
    position: relative;
    justify-content: center;
}

.slider a {
    padding: 0 20px;
    text-decoration: none;
    letter-spacing: 1.5px;
    white-space: nowrap;
    font-weight: bolder;
    color: #444444;
    cursor: pointer;
}

.slider a:hover {
    text-decoration: underline;
}

.bord_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    max-width: 1200px;
    margin: 40px auto;
    box-sizing: border-box;
    padding-right: 10px;
    padding-left: 10px;
}

.headline_bord {
    position: sticky;
    top: -40px;
}

.bord_under_container {
    background: rgba(0, 0, 0, 0.6);
    min-width: 250px;
    min-height: 80vh;
    border-radius: 20px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.55);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.55);
    box-sizing: border-box;
}

.bord_under_container.drag_area_highlight {
    background: rgb(190, 190, 190, 0.6);
    min-width: 250px;
    min-height: 80vh;
    border-radius: 20px;
}

.cart {
    margin-top: 30px;
    position: relative;
    font-weight: bold;
    margin: 0px 6px 15px 6px;
    border-radius: 12px;
    background: white;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.55);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.55);
    transition: 125ms;
    box-sizing: border-box;
}

.assignedUser Img {
    margin-left: 10px;
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.color-stripe {
    width: 15px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.cart_menu_btn {
    top: 5px;
    right: 5px;
    height: 40px;
    width: 40px;
    transition: all 0.5s ease-in-out;
}

.menu_btn_burger {
    width: 25px;
    height: 3px;
    background: #000;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(207, 101, 47, .2);
    transition: all 0.5s ease-in-out;
}

.menu_btn_burger::before,
.menu_btn_burger::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 3px;
    background: #000;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(207, 101, 47, .2);
    transition: all 0.5s ease-in-out;
}

.menu_btn_burger::before {
    transform: translateY(-8px);
}

.menu_btn_burger::after {
    transform: translateY(8px);
}

.cart_menu_btn.open .menu_btn_burger {
    transform: translateX(-25px);
    background: transparent;
    box-shadow: none;
}

.cart_menu_btn.open .menu_btn_burger::before {
    transform: rotate(45deg) translate(17.5px, -17.5px);
}

.cart_menu_btn.open .menu_btn_burger::after {
    transform: rotate(-45deg) translate(17.5px, 17.5px);
}

.drop_menu {
    margin: 0;
    top: 35px;
    right: 5px;
    perspective: 1000px;
}

.drop_menu li {
    color: white;
    list-style-type: none;
    text-align: end;
    padding: 2px 5px;
    background: rgba(0, 0, 0, 0.9);
    transition: all 0.3s ease-in-out;
    opacity: 0;
    transform: rotateY(-100deg);
    transform-origin: right;
}

.drop_menu li:hover {
    text-decoration: underline;
}

.drop_menu li:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.drop_menu li:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.drop_menu.show li {
    transform: rotateY(0);
    transform-origin: right;
    opacity: 1;
}

.word_break_all {
    word-break: break-all;
}

.marketing {
    color: darkorange;
}

.management {
    color: royalblue;
}

.sale {
    color: darkcyan;
}

.product {
    color: fuchsia;
}

.low {
    background: green;
}

.mid {
    background: yellow;
}

.high {
    background: red;
}

.text_container {
    height: 22px;
    overflow: hidden;
    transition: 125ms;
}

.name-Img {
    height: 0;
    overflow: hidden;
    transition: 125ms;
    text-align: center;
}

.cart:hover .text_container {
    height: auto;
    transition: 125ms;
}

.cart:hover .name-Img {
    height: auto;
    transition: 125ms;
}

.headline_bord h3 {
    letter-spacing: 1.5px;
    font-weight: bolder;
    color: #444444;
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
    margin-top: 30px;
    margin-bottom: 10px;
    background: white;
    border-radius: 12px;
    padding: 5px 0;
}

.cart h4 {
    margin-top: -5px;
    text-transform: uppercase;
    text-decoration: underline;
}