@media screen and (max-width: 970px) {
    .header-inside {
        width: 100% !important;
    }
    .menu a {
        margin-right: 0 !important;
    }
}

@media screen and (max-width: 600px) {
    .task-content-container {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }
    h2 {
        text-align: center !important;
    }
    .task-content-box {
        width: 80% !important;
    }
    .assigned-to {
        justify-content: center !important;
        width: 100% !important;
    }
    .cancel-create-box {
        justify-content: center !important;
    }
}

@media screen and (max-width: 300px) {
    .assigned-to {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        width: auto !important;
        height: auto !important;
    }
}