* {
    line-height: 1.5;
}

h1,
h2 {
    background-color: aquamarine;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    box-shadow: 2px 2px 5px #666666;
    text-shadow: 1px 1px 1px #666666;
    border-radius: 20px;
}

p {
    text-shadow: 1px 1px 1px #666666;
}