<div class="flash-container">
    <div class="flash-head">
        <p>Helfen Sie uns mit Ihrer Zustimmung</p>
    </div>
    <div class="flash-info">
        <p>Um Ihnen relevante Inhalte und personalisierte Werbung anzubieten, setzen wir Cookies und andere Technologien ein. Damit messen wir, wie und womit Sie unsere Angebote nutzen. Diese Daten geben wir auch an Dritte weiter, zum Teil aufgrund berechtigter
            Interessen der jeweiligen Anbieter. Indem Sie „Alles akzeptieren“ klicken, stimmen Sie (jederzeit widerruflich) der Datenverarbeitung zu. Ihre Zustimmung hilft uns, weiterhin unsere Inhalte kostenlos bereitzustellen.</p>
    </div>
    <div class="flash">
        <ul>Notwendige Cookies</ul>
        <ul>Externe Inhalte einbinden</ul>
        <ul>Personalisierte Inhalte, Inhaltemessung, Erkenntnisse über Zielgruppen und Produktentwicklung</ul>
        <ul>Informationen auf einem Gerät speichern und/oder abrufen</ul>
        <ul>Genaue Standortdaten und Abfrage von Geräteeigenschaften zur Identifikation</ul>
        <ul>Personalisierte Anzeigen und Anzeigenmessung</ul>
    </div>
    <div class="flash-btn-container">
        <button onclick="logOutUser()" class="flash-btn">Seite verlassen</button>
        <button class="flash-btn" onclick="closeFlashContainer()">Cookies akzeptieren</button>
    </div>
</div>