
            <div class="cookies-container">
                <div class="cookies-head">
                    <p>Helfen Sie uns mit Ihrer Zustimmung</p>
                </div>
                <div class="cookies-info">
                    <p>Um Ihnen relevante Inhalte und personalisierte Werbung anzubieten, setzen wir Cookies und andere
                    Technologien ein. Damit messen wir, wie und womit Sie unsere Angebote nutzen. Diese Daten geben wir auch an
                    Dritte weiter, zum Teil aufgrund berechtigter Interessen der jeweiligen Anbieter. Indem Sie „Alles
                    akzeptieren“ klicken, stimmen Sie (jederzeit widerruflich) der Datenverarbeitung zu. Ihre Zustimmung hilft
                    uns, weiterhin unsere Inhalte kostenlos bereitzustellen.</p>
                </div>
                <div class="cookies">
                    <ul>Notwendige Cookies</ul>
                    <ul>Externe Inhalte einbinden</ul>
                    <ul>Personalisierte Inhalte, Inhaltemessung, Erkenntnisse über Zielgruppen und Produktentwicklung</ul>
                    <ul>Informationen auf einem Gerät speichern und/oder abrufen</ul>
                    <ul>Genaue Standortdaten und Abfrage von Geräteeigenschaften zur Identifikation</ul>
                    <ul>Personalisierte Anzeigen und Anzeigenmessung</ul>
                </div>
                <div class="cookies-btn">
                    <a href="www.google.de"><button class="cookie-create">Seite verlassen</button></a>
                    <button class="cookie-create" onclick="closeCookies()">Cookies akzeptieren</button>
                </div>
            </div>