<div class="header">
    <div class="header-inside">
        <div>
            <img src="./img/joinlogo.png" alt="">
        </div>
        <div class="link-container d-flex">
            <div class="menu">
                <div>
                    <a id="bordLink" href="../bord.html">Board</a>
                    <a id="backlogLink" href="../backlog.html">Backlog</a>
                </div>
                <div>
                    <a id="addTaskLink" href="../addtask.html">Add Task</a>
                    <a id="helpLink" href="../help.html">Help</a>
                </div>
            </div>
            <div class="logout">
                <img id="loggedUserImg" src="img/guest-48.png">
                <a href="../index.html" onclick="logOutUser()">Log Out</a>
            </div>

            <div id="menulinks" onclick="openHeaderMenu()" class="p-absolute d-none j-center-a-center cursor-pointer header_menu_btn">
                <div class="header_menu_btn_burger"></div>
                <ul id="headerList" class="header_drop_menu p-absolute d-none f-colum w-space-nowrap">
                    <li><a id="bordLink" href="../bord.html">Board</a></li>
                    <li><a id="backlogLink" href="../backlog.html">Backlog</a></li>
                    <li><a id="addTaskLink" href="../addtask.html">Add Task</a></li>
                    <li><a id="helpLink" href="../help.html">Help</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>