<div class="header">
    <div class="header-inside">
        <div>
            <img src="./img/joinlogo.png" alt="">
        </div>
        <div class="link-container d-flex">

            <div class="menu">
                <div>
                    <a>Board</a>
                    <a>Backlog</a>
                </div>
                <div>
                    <a>Add Task</a>
                    <a>Help</a>
                </div>


            </div>
            <div class="logout">
                <img src="./img/man3.jpg" alt="">
                <a>Log Out</a>
            </div>
        </div>

    </div>
</div>