<div class="flash-container">
    <div class="flash-head">
        <h1>Impressum</h1>
        <h2>Angaben gemäß § 5 TMG</h2>
    </div>
    <div class="flash-creators">
        <div class="flash-border">
            <p>Viktor Grünwald</p><br> Bundesstr. 8 <br> 59872 Meschede </p>
            <p>Telefon +49 163 977 56 255 <br> E-Mail: vgruenwald@t-online.de
            </p>
        </div>
        <div class="flash-border">
            <p>Tony Schroeder</p><br> Karauschenstieg 6<br> 21640 Horneburg </p>
            <p> Telefon +49 173 64 71 810 <br> E-Mail: tony.schroeder@gmx.de
            </p>
        </div>
        <!-- <div class="flash-border">
            <p>Hakan</p><br> mustertstr <br> 22049 musterhausen </p>
            <p> Telefon +49176/111111 <br> E-Mail: muster@gmx.de
            </p>
        </div>
        <div class="flash-border">
            <p>Joanna</p><br> mustertstr <br> 22049 musterhausen </p>
            <p> Telefon +49176/111111 <br> E-Mail: muster@gmx.de
            </p>
        </div> -->
    </div>
    <div class="flash-btn-container">
        <button class="flash-btn" onclick="closeFlashContainer()">Close Imprint</button>
    </div>
</div>